# ==========================================
# Application
# ==========================================
APP_NAME=YouTube RAG Chatbot

# ==========================================
# LLM Configuration
# ==========================================
LLM_PROVIDER=mistral
MODEL_NAME=mistral-small-latest
TEMPERATURE=0.2

# ==========================================
# API Keys
# ==========================================
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
MISTRAL_API_KEY=YOUR_MISTRAL_API_KEY

# ==========================================
# Text Splitting
# ==========================================
CHUNK_SIZE=500
CHUNK_OVERLAP=100

# ==========================================
# Embedding Model
# ==========================================
EMBEDDING_MODEL=gemini-embedding-001

# ==========================================
# Vector Database
# ==========================================
CHROMA_DB_PATH=chroma_db